@use '/src/sass/base/variables.scss' as *;

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: "Barlow", sans-serif;
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

a {
	text-decoration: none;
	color: $color-dark;
}

.container {
	display: block;
	width: 100%;
	padding: 0 10px;
}

@media screen and (min-width: 768px) {
	.container {
		padding: 0 24px;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		margin: 0 auto;
		padding: 0;
		width: 1140px;
	}
}

@media screen and (min-width: 1920px) {
	.container {
		width: 1440px;
	}
}