@use "/src/sass/base/variables.scss" as *;

@mixin title {
	color: $color-dark;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
}

@mixin button {
	display: block;
	border-radius: 2px;
	border: 1px solid $color-dark;
	color: $color-dark;
}
